<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="car.mybatis.CarMapper">
    <select id="getCarList" resultType="CarDTO">
        select * from CAR order by id desc
    </select>
    <insert id="insertCar" parameterType="CarDTO">
        insert into CAR values (default, #{name}, #{code}, #{description}, #{price},
                                #{passenger}, #{luggage}, #{door}, #{transmission}, default, null, #{car_type})
    </insert>
    <select id="getCar" parameterType="int" resultType="CarDTO">
        select * from CAR where id = #{id}
    </select>
    <select id="getCarIdByCode" resultType="int">
        select id from CAR where code = #{code}
    </select>
    <select id="getCarListByCarType" resultType="CarDTO">
        select * from CAR where car_type = #{car_type}
    </select>
    <update id="updateCar" parameterType="CarDTO">
        update CAR set name=#{name}, code=#{code}, description=#{description}, price=#{price},
                       passenger=#{passenger}, luggage=#{luggage}, door=#{door},
                       transmission=#{transmission}, mod_date=now(), car_type=#{car_type} where id=#{id}
    </update>
    <delete id="deleteCar" parameterType="int">
        delete from CAR where id=#{id}
    </delete>
</mapper>