<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="car_type.mybatis.CarTypeMapper">
    <select id="getCarTypeList" resultType="CarTypeDTO">
        select * from CAR_TYPE order by id desc
    </select>
    <insert id="insertCarType" parameterType="CarTypeDTO">
        insert into CAR_TYPE values(default, #{name}, #{code}, #{description}, default, null)
    </insert>
    <select id="getCarType" parameterType="int" resultType="CarTypeDTO">
        select * from CAR_TYPE where id = #{id}
    </select>
    <update id="updateCarType" parameterType="CarTypeDTO">
        update CAR_TYPE set name=#{name}, code=#{code}, description=#{description}, moddate=now() where id=#{id}
    </update>
    <delete id="deleteCarType" parameterType="int">
        delete from CAR_TYPE where id = #{id}
    </delete>
</mapper>