<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment.mybatis.CommentMapper">
    <select id="getCommentList" resultType="CommentDTO">
        select * from comment order by id desc
    </select>
    <select id="getCommentListWithPost" resultType="CommentDTO">
        select * from comment where post=#{post} order by id desc
    </select>
    <insert id="insertComment" parameterType="CommentDTO">
        insert into comment values (default, #{content}, default, default, #{author}, #{post})
    </insert>
    <select id="getComment" parameterType="int" resultType="CommentDTO">
        select * from comment where id=#{id}
    </select>
    <update id="updateComment" parameterType="CommentDTO">
        update comment set content=#{content}, update_at=now() where id=#{id}
    </update>
    <delete id="deleteComment" parameterType="int">
        delete from comment where id=#{id}
    </delete>
</mapper>