<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.mybatis.MemberMapper">
    <insert id="insertMember" parameterType="MemberDTO">
        insert into member values(#{userid}, #{username}, #{password}, #{email}, #{phone}, null, 1, default, null)
    </insert>
    <select id="checkMemberWithId" parameterType="String" resultType="int">
        select count(*) from member where userid=#{userid}
    </select>
    <select id="checkMemberWithEmail" parameterType="String" resultType="int">
        select count(*) from member where email=#{email}
    </select>
    <select id="getMemberPassword" parameterType="String" resultType="String">
        select password from member where userid=#{userid}
    </select>
    <select id="getMemberList" resultType="MemberDTO">
        select * from member order by reg_date
    </select>

    <resultMap id="memberMap" type="MemberDTO">
        <id property="userid" column="userid"/>
        <result property="userid" column="userid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="last_login" column="last_login"/>
        <result property="is_active" column="is_active"/>
        <result property="reg_date" column="reg_date"/>
        <result property="mod_date" column="mod_date"/>
    </resultMap>

    <resultMap id="authMap" type="MemberAuthDTO">
        <result property="userid" column="userid"/>
        <result property="auth" column="auth"/>
    </resultMap>
    <select id="read" resultMap="memberMap">
        select m.userid, username, password, email, phone, last_login, is_active, reg_date, mod_date, ma.auth
        from member m left outer join member_auth ma on m.userid = ma.userid
        where m.userid = #{userid}
    </select>
</mapper>