<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="student.mybatis.StudentMapper">
	<select id="listStudent" resultType="studentDTO">
		select * from student
	</select>
	<insert id="insertStudent" parameterType="studentDTO">
		insert into student values(#{id}, #{name}, #{cname})
	</insert>
	<select id="findStudent" resultType="studentDTO" parameterType="String">
		select * from student where name = #{name}
	</select>
	<delete id="deleteStudent" parameterType="String">
		delete from student where id = #{id}
	</delete>
</mapper>