<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartype.mybatis.CartypeMapper">
    <select id="getCartypeList" resultType="CartypeDTO">
        select * from CARTYPE order by id desc
    </select>
    <insert id="insertCartype" parameterType="CartypeDTO">
        insert into CARTYPE values(CARTYPE_SEQ.nextval, #{name}, #{code}, #{description}, sysdate, null)
    </insert>
    <select id="getCartype" parameterType="int" resultType="CartypeDTO">
        select * from CARTYPE where id = #{id}
    </select>
    <update id="updateCartype" parameterType="CartypeDTO">
        update CARTYPE set name=#{name}, code=#{code}, description=#{description}, modDate=sysdate where id=#{id}
    </update>
    <delete id="deleteCartype" parameterType="int">
        delete from CARTYPE where id = #{id}
    </delete>
</mapper>