<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>depart</servlet-name>
        <servlet-class>depart.DepartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>depart</servlet-name>
        <url-pattern>/depart.do</url-pattern>
    </servlet-mapping>
</web-app>