<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member.mybatis.MemberMapper">
	<select id="checkMember" parameterType="java.util.Map" resultType="memberDTO">
		select * from member where SSN1=#{ssn1} and SSN2=#{ssn2}
	</select>
	<insert id="insertMember" parameterType="memberDTO">
		insert into member values(member_seq.nextval,
										 #{name}, #{id}, #{passwd}, #{ssn1}, #{ssn2},
										 #{email}, #{hp1}, #{hp2}, #{hp3}, sysdate)</insert>
	<select id="listMember" resultType="memberDTO">
		select * from member
	</select>
	<delete id="deleteMember" parameterType="int">
		delete from member where no = #{no}
	</delete>
	<select id="getMember" resultType="memberDTO" parameterType="int">
		select * from member where no = #{no}
	</select>
	<update id="updateMember" parameterType="memberDTO">
		update member set passwd=#{passwd}, email=#{email},
								 hp1=#{hp1}, hp2=#{hp2}, hp3=#{hp3} where no=#{no}
	</update>
	<select id="findMember" parameterType="java.util.Map" resultType="memberDTO">
		select * from member where ${search} = #{searchString}
	</select>
</mapper>





